<div class="div-full" fxLayout="row" fxLayoutAlign="start start">
    <div class="side-nav" fxLayout="column" fxLayoutAlign="start center">
        <div class="side-nav-title" fxLayout="row" fxLayoutAlign="start center"> 
            <img src="assets/images/angular2-logo-white.png" class="image-icon"> ADRIEN COLOMBIER
        </div>
        <div class="side-nav-item-active" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">person_outline</mat-icon>PROFILE
        </div>
        <div class="side-nav-item" routerLink="/projets" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">work_outline</mat-icon>PROJETS
        </div>
        <div class="side-nav-item" routerLink="/jeux" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">gamepad</mat-icon>JEUX
        </div>
        <div class="side-nav-item" routerLink="/map" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">map_outline</mat-icon>MAP
        </div>
        <div class="side-nav-item" routerLink="/tools" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">build_outline</mat-icon>OUTILS
        </div>
    </div>
    <div class="div-full" fxLayout="column" fxLayoutAlign="start center">
        <div class="toolbar">
            <div class="div-half-height" fxLayout="row" fxLayoutAlign="space-around center">
                <div class="toolbar-title" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="side-nav-icon">person_outline</mat-icon>PROFILE</div>
                <div class="div-full" fxLayout="row" fxLayoutAlign="end center">
                    <div class="div-small" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">search</mat-icon></div>
                    <form class="toolbar-form" autocomplete="off">
                        <mat-form-field class="toolbar-search" color="warn">
                          <input matInput type="text" placeholder="Search">
                        </mat-form-field>
                    </form>
                    <div class="div-small" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">person_outline</mat-icon></div>
                    <div class="div-small" routerLink="/projets" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">work_outline</mat-icon></div>
                    <div class="div-small" routerLink="/jeux" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">gamepad</mat-icon></div>
                    <div class="div-small" routerLink="/map" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">map_outline</mat-icon></div>
                    <div class="div-small" routerLink="/tools" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">build_outline</mat-icon></div>
                </div>
            </div>
        </div>
        <div class="div-full" fxLayout="row" fxLayoutAlign="space-around start">
            <mat-card class="mat-card-cv" fxLayout="column" fxLayoutAlign="space-around start">
                <div class="div-full">
                    <div class="cv-titles" fxLayout="row" fxLayoutAlign="start center"><mat-icon class="icon-cv">school</mat-icon>Formations :</div>
                    <div class="cv-texte">2017 - Aujourd'hui : Etudiant en 3ème année à Epitech Paris et 'Assistant Technique' (Astek / Enseignant)</div>
                    <div class="cv-texte">2018 - 2020 : Double formation Ionis-STM, formateur, enseignement et management</div>
                    <div class="cv-texte">2015 - 2017 : IUT Informatique de Fontainebleau</div>
                    <div class="cv-texte">2015 : BAC Scientifique spécialité ISN (Informatique et Sciences du Numériques) et option Natation au lycée Francois Couperin Fontainebleau</div>
                </div>
                <div class="div-full">
                    <div class="cv-titles" fxLayout="row" fxLayoutAlign="start center"><mat-icon class="icon-cv">laptop</mat-icon>Compétences et outils :</div>
                    <div class="cv-texte">Langages de programmation : C / C++ / TypeScript</div>
                    <div class="cv-texte">Framework : Angular / React</div>
                    <div>
                        <img src="assets/images/c++logo.png" class="image-cv">
                        <img src="assets/images/react-logo.png" class="image-cv">
                        <img src="assets/images/typescript.svg" class="image-cv">
                        <img src="assets/images/angular2-logo-white.png" class="image-cv">
                    </div>
                </div>
                <div class="div-full">
                    <div class="cv-titles" fxLayout="row" fxLayoutAlign="start center"><mat-icon class="icon-cv">language</mat-icon>Langues :</div>
                    <div class="cv-texte">Francais : langue natale</div>
                    <div class="cv-texte">Anglais : bon niveau score TOEIC 800/990</div>
                </div>            
                <div class="div-full">
                    <div class="cv-titles" fxLayout="row" fxLayoutAlign="start center"><mat-icon class="icon-cv">work_outline</mat-icon>Emplois et expériences :</div>
                    <div class="cv-texte">Actuellement Dévellopeur C++ chez Aerys</div>
                    <div class="cv-texte">Assistant Technique et enseignant à Epitech Paris</div>
                    <div class="cv-texte">Stagiaire dévellopeur Angular / TypeScript chez O2I Software</div>
                </div>
                <div class="div-full">
                    <div class="cv-titles" fxLayout="row" fxLayoutAlign="start center"><mat-icon class="icon-cv">sentiment_very_satisfied</mat-icon>Passions :</div>
                    <div class="cv-texte">Jeux vidéos : Compétitions sur League of Legends, speedruning Celeste, pas mal de multi-gaming</div>
                    <div class="cv-texte">Sport : Tennis (meilleur classement 30/0), Natation, endurance</div>
                    <div class="cv-texte">Voyage : Etats-Unis, Sri-Lanka, Royaume-Uni, Suisse, Italie, Allemagne, Espagne, Corse, Belgique ...</div>
                </div>
            </mat-card>
            <mat-card class="mat-card-side-personal" fxLayout="column" fxLayoutAlign="center center">
                <div class="div-profile-header">

                </div>
                <div class="div-full" fxLayout="column" fxLayoutAlign="center center">
                    <img src="assets/images/adrien.jpg" class="profile-picture">
                    <div class="div-profile-content" fxLayout="column" fxLayoutAlign="space-around center">
                        <div class="full-name">ADRIEN COLOMBIER</div>
                        <div>Merline</div>
                        <div>{{quote}}</div>
                    </div>
                    <div class="div-social-media" fxLayout="row" fxLayoutAlign="space-around center">
                        <a href="https://facebook.com/adrien.colombier.1" target="_blank"><img src="assets/images/facebook.png" class="image-social-media"></a>
                        <a href="https://www.linkedin.com/in/adrien-colombier-051576156/" target="_blank"><img src="assets/images/linkedin.png" class="image-social-media"></a>
                        <a href="https://github.com/PixDay" target="_blank"><img src="assets/images/github.png" class="image-social-media"></a>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>