<div class="div-full" fxLayout="row" fxLayoutAlign="start start">
    <div class="side-nav" fxLayout="column" fxLayoutAlign="start center">
        <div class="side-nav-title" fxLayout="row" fxLayoutAlign="start center"> 
            <img src="assets/images/angular2-logo-white.png" class="image-icon"> ADRIEN COLOMBIER
        </div>
        <div class="side-nav-item" routerLink="/profile" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">person_outline</mat-icon>PROFILE
        </div>
        <div class="side-nav-item" routerLink="/projets" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">work_outline</mat-icon>PROJETS
        </div>
        <div class="side-nav-item" routerLink="/jeux" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">gamepad</mat-icon>JEUX
        </div>
        <div class="side-nav-item-active" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">map_outline</mat-icon>MAP
        </div>
    </div>
    <div class="div-full" fxLayout="column" fxLayoutAlign="start center">
        <div class="toolbar">
            <div class="div-half-height" fxLayout="row" fxLayoutAlign="space-around center">
                <div class="toolbar-title" fxLayout="row" fxLayoutAlign="center center">MAP</div>
                <div class="div-full">
                    other
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>