<div class="div-full" fxLayout="row" fxLayoutAlign="start start">
    <div class="side-nav" fxLayout="column" fxLayoutAlign="start center">
        <div class="side-nav-title" fxLayout="row" fxLayoutAlign="start center"> 
            <img src="assets/images/angular2-logo-white.png" class="image-icon"> ADRIEN COLOMBIER
        </div>
        <div class="side-nav-item" routerLink="/profile" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">person_outline</mat-icon>PROFILE
        </div>
        <div class="side-nav-item" routerLink="/projets" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">work_outline</mat-icon>PROJETS
        </div>
        <div class="side-nav-item" routerLink="/jeux" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">gamepad</mat-icon>JEUX
        </div>
        <div class="side-nav-item-active" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">map_outline</mat-icon>MAP
        </div>
        <div class="side-nav-item" routerLink="/tools" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="side-nav-icon">build_outline</mat-icon>OUTILS
        </div>
    </div>
    <div class="div-full" fxLayout="column" fxLayoutAlign="start center">
        <div class="toolbar">
            <div class="div-half-height" fxLayout="row" fxLayoutAlign="space-around center">
                <div class="toolbar-title" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="side-nav-icon">map_outline</mat-icon>MAP</div>
                <div class="div-full" fxLayout="row" fxLayoutAlign="end center">
                    <div class="div-small" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">search</mat-icon></div>
                    <form class="toolbar-form" autocomplete="off">
                        <mat-form-field class="toolbar-search" color="warn">
                          <input matInput type="text" placeholder="Search">
                        </mat-form-field>
                    </form>
                    <div class="div-small" routerLink="/profile" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">person_outline</mat-icon></div>
                    <div class="div-small" routerLink="/projets" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">work_outline</mat-icon></div>
                    <div class="div-small" routerLink="/jeux" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">gamepad</mat-icon></div>
                    <div class="div-small" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">map_outline</mat-icon></div>
                    <div class="div-small" routerLink="/tools" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="toolbar-icon">build_outline</mat-icon></div>
                </div>
            </div>
        </div>
        <div class="div-full" fxLayout="row" fxLayoutAlign="center start">
            <mat-card><iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=13%20rue%20cassette+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">find my location</a></iframe></mat-card>
        </div>
    </div>
</div>